/* Generals */

*{
	font-family: 'Open Sans', sans-serif!important;
}
.isHidden{
	display: none;
}

h1{
	font-size: 24px;
	font-weight: bold;
	margin: 36px;
}

body>div{
	margin: 36px;
	overflow: hidden;
}
body>div>p{
	font-size: 18px;
	margin-bottom: 12px;
}




/* document viewer styles */
#documentViewer>h2{
	color: #424242;
	font-size: 24px;
	position: relative;margin: 0 auto;
	margin-top: 12px; margin-bottom: 12px;
	width: 900px;
}
#documentViewer>p{
	font-size: 16px;
	position: relative;margin: 0 auto;
	font-style: italic;
	width: 900px;
}



/* The actual note viewer */

#noteViewerCont{
	display: block;
	width: 900px;
	position: relative; margin: 0 auto;
	background-color: white;
	margin-top: 12px;
	border: 1px solid #D7DCE0;
	height: 480px;
	padding-bottom: 48px;
	border-radius: 4px;
	box-shadow: 0px 1px 12px -3px #787878;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/*when fullscreen*/
#noteViewerCont:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
#noteViewerCont:-moz-full-screen {
  width: 100%;
  height: 100%;
}
#noteViewerCont:-ms-full-screen {
  width: 100%;
  height: 100%;
}
#noteViewerCont:-o-full-screen {
  width: 100%;
  height: 100%;
}
#noteViewerCont:full-screen {
  width: 100%;
  height: 100%;
}




#noteContainer{
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: auto;
	background-color: #FCFCFC;
	z-index: 1;
	padding-bottom: 1px;
	border-radius: 4px;
}





/* the controls at the bottom */

#noteController{
	width: 100%;
	height: 48px;
	position: absolute;
	box-shadow: 0px -3px 4px -3px gray;
	background-color: #3D3C35;
	border-radius: 0px 0px 4px 4px;
	z-index: 2;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    bottom: -1px;
}
#noteController div{
	height: 48px;
	width: 32%;
	float: left;
	margin-left: 1%;
}
#paging{

}
#paging input{
	position: relative;
	width: 20px;
	text-align: center;
	height: 27px;
	outline: none;
	border:none;
	background-color: #706E5E;
	color: white;
	margin-top: 9px;
	cursor: pointer;
	float: left;
}
#paging a{
	display: block;
	cursor: pointer;
	color: white;
	font-size: 12px;
	line-height: 50px;
	height: 100%;
	width: 30px;
	float: left;
	text-align: center;
	text-decoration: none!important;
	-webkit-transition: background-color .3s;
	   -moz-transition: background-color .3s;
	    -ms-transition: background-color .3s;
	     -o-transition: background-color .3s;
	        transition: background-color .3s;
}
#paging a:first-child{
	margin-right: 6px;
	margin-left: 30%;
}
#paging a:last-child{
	margin-left: 6px;
}
#paging a:hover{
	background-color: #706E5E;
}
#zoomLvls{
	height: 100%;
}
#zoomLvls>a{
	cursor: pointer;
	text-align: center;
	display: block;
	float: left;
	width: 48px;
	height: 100%;
	color: white;
	line-height: 48px;
	text-decoration: none!important;
	-webkit-transition: background-color .3s;
	   -moz-transition: background-color .3s;
	    -ms-transition: background-color .3s;
	     -o-transition: background-color .3s;
	        transition: background-color .3s;
}
#zoomLvls>a>img{
	width: 30px;
	height: 30px;
	position: relative;
	top: 9px;
}
#zoomLvls a:last-child{
	margin-left: 4px;
}
#zoomLvls a:hover{
	background-color: #706E5E;
}
#fullScreen a{
	height: 48px;
	width: 48px;
	display: block;
	text-align: center;
	position: absolute;
	right:0px;
	cursor: pointer;
	-webkit-transition: background-color .3s;
	   -moz-transition: background-color .3s;
	    -ms-transition: background-color .3s;
	     -o-transition: background-color .3s;
	        transition: background-color .3s;
}
#fullScreen a img{
	height: 18px;
	margin-top: 15px;
	cursor: pointer;
}
#fullScreen a:hover{
	background-color: #706E5E;
}



